ANTHROPIC_API_KEY=
POSTGRES_DB=<replace with the db to use>
POSTGRES_USER=<replace with some user>
POSTGRES_PASSWORD=<replace with some password>
DATABASE_URL=postgres://<replace with db user>:<replace with db password>@postgres:5432/simple-ai-os
